

.burger {
  width: 20px;
  height: 2.5px;
  background-color: rgb(252 211 77);
  position: relative;
  cursor: pointer;
}

.burger::after {
  content: "";
  width: 20px;
  height: 2.5px;
  position: absolute;
  top: 7px;
  transition: .37s;
  background-color: rgb(252 211 77);
}

.burger::before {
  content: "";
  width: 20px;
  height: 2.5px;
  background-color: rgb(252 211 77);
  position: absolute;
  bottom: 7px;
  transition: .37s;
}


.burger_active {
  width: 20px;
  height: 0px;
  background-color: rgb(252 211 77);
  position: relative;
  cursor: pointer;
  top: 20px;
}



.burger_active::after{
    content: "";
    width: 20px;
    height: 2.5px;
    position: absolute;
    top: -18px;
    left: 1px;
    background-color: rgb(252 211 77);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .37s;
}


.burger_active::before {
  content: "";
  width: 20px;
  height: 2.5px;
  background-color: rgb(252 211 77);
  position: absolute;
  bottom: 16px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: .37s;
}




